@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


body{
  background-size: 100%;
  background-color: #1D2123;

}
body::-webkit-scrollbar {
  display: none;
}
.mt-50{
  margin-top: 15rem;
}
.dekatify-header-1 {
  color: #EFFFFF;
  font-family: 'Quicksand', sans-serif;
  font-size: 3.4vw;
  font-style: normal;
  font-weight: 700;
  padding-top: 10vw;
  padding-left: 8vw;
}
.dekatify-detail{
  color: #FFF;
  font-family: 'Quicksand', sans-serif;
  font-size: 1vw;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 15.6px */
  padding-top: 0.5vw;
  padding-left: 8vw;
}
.dekatify-button{
  margin-left: 8vw;
  margin-top: 3vw;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}
.dekatify-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pl-custom{
  padding-left: 8vw;
}
.dekatify-head-pict {
  width: 35rem;
  height: auto;
  display: block;
  position: absolute;
  top: -15rem;
  right: 1rem;
  transform: rotate(-9deg);
  flex-shrink: 0;

}

.dekatify-head-pict::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background: linear-gradient(to bottom, transparent, white);
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}


@media screen and (max-width: 1118px) {
  .dekatify-container {
    align-items: center;
    padding-top: 1vw;
  }

  .dekatify-head-pict {
    position: relative;
    left: 0;
    margin-top: 0;
    width: 50rem;
    top: -8rem;
    transform: rotate(9deg);
  }

  .dekatify-detail {
    text-align: center;
    font-size: 2vw;
  }
  .font{
    font-family: 'Quicksand', sans-serif;

  }

  .dekatify-header-1{
    text-align: center;
  }
  .dekatify-button{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
  }


}
@media screen and (max-width: 1200px) {

    .grid {
      grid-template-columns: 1fr; /* Change to a single column layout */
    }

}
@media screen and (max-width: 768px) {
  body {
    flex-direction: row;
  }

  .dekatify-header-1 {
    font-size: 2rem;

    padding-left: 8vw;
  }

  .dekatify-detail {
    font-size: 2vw;
    padding-top: 0.5vw;
    padding-left: 8vw;
  }
}

